$purple: #9356DC;
$pink: #FF79DA;
$mint: #99E2D0;
$darkmint: #4C7168;
$lightgrey: #EEEEEE;
$black: #0f1614;

@font-face
{
	font-family: "robotolight";
	src: url('font/Roboto-Light.ttf') format('truetype');
	font-family: "roboto";
	src: url('font/Roboto.ttf') format('truetype');
	font-family: "robotobold";
	src: url('font/Roboto-Bold.ttf') format('truetype');
	font-family: "shrikhand";
	src: url('font/Shrikhand-Regular.ttf') format('truetype')

}

*
{	
	margin: 0px;
	padding :0;
	text-overflow: ellipsis;
	font-family: "roboto";
}

select 
{
	-webkit-tap-highlight-color: transparent;
}

input,
textarea,
button,
select,
a {
     -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*HEADER*/
.header
{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	width: 100%;
	position: absolute;
	background-color: white;
	.header__logo {
	max-width: 50%;
	max-height: 90%;
	}
}

.fa-arrow-left
{
	position: relative;
	left: -40px;
	font-size: 1.6em;
	color: black;
	&:hover{
		color: $pink;
		transform: rotate(-1turn);
        transition: transform 500ms ease-in-out;
	}
}
.slider{
	margin-bottom: -60px;
	z-index: 0;
}

.restaurant__img
{
	width: 100%;
	height: 400px;
	object-fit: cover;
	/*position: relative;*/
	


}

/*MAIN*/

main
{
	/*position: absolute;*/
	z-index: 100;
	width: 100%;
	background-color: $lightgrey;
	opacity: 0.9999999;
    border-radius: 40px 40px 0 0;
}

.main__content
{
	background-color:$lightgrey;
	border-radius: 40px 40px 0 0 ;
}

h1
{
	font-family: "shrikhand";
	margin: 20px;
	padding-top:7px;
}

.main__restaurant--name
{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.fa-heart
{
	top: 20px;
	right: 40px;
	font-size: 2em;
	margin-top: 30px;
	margin-right:20px;
}

.fa-heart-progress
{
	margin-left: -52px;
	background: linear-gradient(180deg, #9356DC 0%, #FF79DA 100%);
    background-clip: border-box;
	font-variant: normal;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transform-origin: 50% 50%;
	transform: scale(0);
	transition: transform 1000ms cubic-bezier(.32,0,.07,1);
}

#fa-heart:hover,
#fa-heart:active
{
	color: $purple;
	> .fa-heart-progress{
	transform: scale(1.02);
}
}

/*SECTION*/

.main
 {
	animation: fadein 1s;
	animation-fill-mode: forwards;
	opacity: 0;
 }

.main__title
{
	font-size: 1.2em;
	text-transform: uppercase;
}

.main__title::after
{
	display: block;
	content: " ";
	width: 60px;
	height: 3px;
	background-color: $mint;
}

.flex__article
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 20px;
	margin-bottom: 20px;
}

.main__article
{
	width: 95%;
	background-color: white;
	border-radius: 20px;
	height: 95px;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 25px 16px 42px -9px rgba(186,186,186,0.67);
	overflow: hidden;
	position:relative;
	animation: fadein 1s;
	animation-fill-mode: forwards;
	opacity: 0;
	&--flex1{
		display:flex;
		justify-content: space-between;
		align-items: center;
		font-weight: bold;
		margin: 10px;
	}
}

@keyframes fadein 
{
  0% {opacity:0;}
  100% {opacity:1;transform: translateY(-5px);}
}

.animation__1
{
	animation-delay: 250ms;
}

.animation__2
{
	animation-delay: 500ms;
}

.animation__3
{
	animation-delay: 750ms;
}

.animation__4
{
	animation-delay: 1000ms;
}

.main__article:hover,
.main--article:focus,
.main__article:active
{
	.main__article--animation{
		transform: translateX(-100%);
	}
}

.main__article:hover,
.main--article:focus,
.main__article:active
{
	.main__article--price{
		transform: translateX(-100%);
	}
}

.main__article--flex1
{
	width: 100%;
	overflow-wrap: unset;
	text-overflow:ellipsis;
}
.main__article:hover,
.main--article:focus,
.main__article:active
{
	.fa-check-circle{
		transform: rotate(-1turn);
        transition: transform 500ms ease-in-out
	}
}

.main__article:hover,
.main__article:focus, 
.main__article:active
{
	.main__article--description{
		width :50% ;
		transition: all 330ms;
	}
	.main__article--name{
		width :75% ;
		transition: all 330ms;}
}
.main__article--name
{
	margin-left: 10px;
	margin-top: 20px;
	font-weight: bolder;
	overflow: hidden;
	white-space: nowrap;
	overflow-wrap: unset;
	text-overflow:ellipsis;
	width: 95%;
}

.main__article--description
{
	font-size: 0.9em;
	font-weight: lighter;
	overflow: hidden;
	white-space: nowrap;
	overflow-wrap: unset;
	text-overflow:ellipsis;
	width: 80%;
	max-height: 20px;
}

.main__article--animation
{
	width: 20%;
	height: 95px;
	background-color: $mint;
	border-radius: 0 20px 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 330ms ease-in-out;
	position: absolute;
	top: 0;
	right: -20%;
}

.fa-check-circle
{
	font-size: 2em;
	color: white;
}


.main__article--price
{
	display: block;
	width: 20%;
	transition: transform 330ms ease-in-out;
}

.btn__gradient 
{
	background-image: linear-gradient(to bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
	border-radius: 20px;
	font-size: 1.2em;
	color: white;
	border: none;
	padding: 15px;
	margin: 0 15px 0 15px;
	margin-bottom: 50px;
	box-shadow: 10px 10px 23px -1px rgba(0,0,0,0.15);
	transition: background-image 1s;
	&:hover {
		background-image: linear-gradient(to bottom, #ff80dc, #e875dc, #cf6cdb, #b464da, #955dd9);
		box-shadow: 10px 10px 23px -1px rgba(0,0,0,0.20);
	}
}

.btn
{
	display: flex;
	justify-content: center;
}


/*FOOTER*/

/*.content{
	position: relative;
}*/

footer 
{
	background-color: $black;
	padding-bottom: 20px;
	/*top: 1577px;*/
}

.footer__logo
{
	margin-left: 20px;
	width: 30%;
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}

.footer__element
{
	margin-left: 20px;
	color: white;
	list-style: none;
	margin-bottom: 5px;
}

.footer__element--link, 
a
{
		color:white;
		text-decoration: none;
		&:hover{
			color:$mint;
		}
	}

.footer__element--icon
{
	margin-right: 6px;
}

.fa-utensils
{
	margin-right: 14px;
}

@media only screen and (max-width: 1080px) 

{
	nav
	{
		display: none;
	}

}

@media only screen and (min-width: 1080px) 
{


.fa-arrow-left
{
	position: absolute;
	left: 40px;
	top: 20px;

}

.flex__menu
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.main__restaurant--name
{
	margin-left: 50px;
}

.main
{
	min-width: 25%;
}

.main__article
{
	min-width: 300px;
	max-width: 500px;
}

footer 
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.footer__logo
{
	height: 60%;
	width: auto;
}

.footer__section
{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 1.2em;
}

}